.search{
  padding: 1rem;

  &__options{
    padding: .5rem 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;

  }

  &__advanced{

  }
}
